<ion-header no-border transparent>
  <ion-toolbar transparent>
    <ion-buttons slot="start" *ngIf="isGenerating">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="white">{{ isGenerating ? 'Save' : 'Edit' }} {{ 'secret-edit.title' | translate }}</ion-text>
    </ion-title>
    <ion-buttons slot="end" *ngIf="!isGenerating">
      <ion-button slot="icon-only" color="dark" (click)="presentEditPopover($event)"><ion-icon name="more"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="colored-background" padding>
  <p>{{ 'secret-edit.text' | translate }}</p>

  <ion-item no-padding padding-bottom>
    <ion-label color="white" floating>{{ 'secret-edit.secret_input_label' | translate }}</ion-label>
    <ion-input id="secret-label-input" [(ngModel)]="secret.label"></ion-input>
  </ion-item>

  <p class="font--weight__med">{{ 'secret-edit.security-level.heading' | translate }}</p>

  <p>{{ 'secret-edit.security-level.text' | translate }}</p>

  <ion-list>
    <ion-item no-lines no-padding>
      <ion-avatar slot="start">
        <ion-icon [color]="secret.isParanoia ? 'primary' : 'secondary-light'" md-name="fiber_pin"></ion-icon>
      </ion-avatar>
      <ion-label color="white">
        {{ 'secret-edit.passcode.label' | translate }}
        <p class="small">{{ 'secret-edit.passcode.text' | translate }}</p>
      </ion-label>
      <ion-checkbox [(ngModel)]="secret.isParanoia" no-margin slot="end" [disabled]="!secret.secretHex"></ion-checkbox>
    </ion-item>
  </ion-list>

  <p class="font--weight__med">{{ 'secret-edit.secret-recovery.heading' | translate }}</p>

  <p *ngIf="isGenerating">{{ 'secret-edit.secret-recovery.text' | translate }}</p>

  <ion-button ion-item (click)="goToSocialRecoverySetup()" no-lines detail-push [disabled]="isGenerating" no-padding>
    <ion-avatar slot="start">
      <ion-icon [color]="secret.hasSocialRecovery ? 'primary' : 'secondary-light'" md-name="group_work"></ion-icon>
    </ion-avatar>
    <h2>{{ 'secret-edit.social-recovery.label' | translate }}</h2>
    <p [innerHTML]="'secret-edit.social-recovery.text' | translate"></p>
  </ion-button>

  <p class="font--weight__med">{{ 'secret-edit.interaction.label' | translate }}</p>

  <ion-button ion-item (click)="goToWalletInteraction()" no-lines detail-push text-wrap no-padding>
    <ion-avatar slot="start">
      <ion-icon [color]="interactionSetting ? 'primary' : 'secondary-light'" name="swap"></ion-icon>
    </ion-avatar>
    <p [innerHTML]="'secret-edit.interaction.text' | translate"></p>
  </ion-button>
</ion-content>

<ion-footer no-border>
  <ion-toolbar padding transparent>
    <ion-row justify-content-end>
      <ion-button
        default
        ion-button
        id="btn-save-secret"
        color="primary"
        *ngIf="secret.label"
        [disabled]="secret.label.length < 1"
        (click)="confirm()"
        shape="round"
        slot="end"
      >
        {{ 'secret-edit.confirm_label' | translate }}
      </ion-button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
